@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root {
  --text-color: #2F3035;
  --main-blue: #1C62CD;
  --main-grey: #F0F0F4;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  color: var(--text-color);
  font-family: sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  font-family: 'SFPro', sans-serif;
  overflow-x: hidden;
  min-width: 320px;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.page-section {
  margin-bottom: 80px;
}

.header__top-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 122px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.menu__btn {
  display: none;
}

.menu__item {
  display: inline-block;
}

.menu__item+.menu__item {
  padding-left: 30px;
}

.header__box {
  display: flex;
  align-items: center;
}

.header__adress {
  margin-right: 60px;
  width: 265px;
  padding-left: 30px;
  position: relative;
}

/* .header__adress::before {
  content: "";
  position: absolute;
  left: 0;
  top: -10px;
  width: 30px;
  height: 30px;
  background-image: url('../images/adress-icon.svg');
} */

.menu-mobile__list {
  width: 243px;
  position: absolute;
  z-index: 99;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  transform: translateX(-100%);
  transition: transform .3s;
}

.menu-mobile__list.menu-mobile__list--active {
  transform: translateX(0);
}

.menu-mobile__item {
  position: relative;
}

.menu-mobile__img {
  position: absolute;
  left: 11px;
  bottom: 0;
}

.menu-mobile__link {
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 53px;
  padding-top: 36px;
  font-size: 20px;
  line-height: 24px;
}

.menu-mobile__address {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin: 65px 10px 40px 53px;
}

.user-list {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.user-list__item {
  display: inline-block;
  padding-right: 10px;
}

.basket {
  position: relative;
}

.basket__num {
  background-color: var(--main-blue);
  color: #fff;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  bottom: -2px;
  right: -11px;
  font-weight: 500;
  font-size: 10px;
  line-height: 20px;
  width: 20px;
  height: 20px;
}

.header__bottom {
  margin-bottom: 80px;
}

.menu-categories {
  background-color: var(--main-grey);
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  justify-content: space-around;
  min-height: 53px;
}

.menu-categories__item {
  position: relative;
}

.menu__mobile-line {
  display: none;
}

.menu-categories__link {
  transition: all .3s;
  position: relative;
  padding: 15px 0 14px;
  top: 50%;
  /* left: 50%; */
  transform: translate(-50%, -50%);
}

.menu-categories__link::before {
  content: "";
  width: 0;
  position: absolute;
  right: 0;
  left: auto;
  bottom: 0;
  background-color: var(--main-blue);
  height: 3px;
  transition: all .3s;
}

.menu-categories__link:hover::before {
  width: 100%;
  left: 0;
  right: auto;
}

.menu-categories__link:hover {
  color: #000;
}

.banner-section__inner .swiper-container {
  max-width: 870px;
}

.banner-section__slider-img {
  object-fit: cover;
  height: 100%;
}

.banner-section__inner {
  display: flex;
  justify-content: space-between;
}

.swiper-button-prev::after, .swiper-button-next::after {
  display: none;
}

.swiper-button-next {
  right: 23px;
}

.swiper-button-prev, .swiper-button-next {
  background-image: url('../images/arrow-right.svg');
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
}

.swiper-button-prev {
  transform: rotate(180deg);
  left: 23px;
}

.banner-section__inner .swiper-pagination {
  bottom: 40px !important;
  height: 11px;
}

.swiper-pagination-bullet {
  display: inline-block;
  width: 11px;
  height: 11px;
  border: 1px solid #FFFFFF;
  background: transparent;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}

.sale-item {
  max-width: 265px;
  text-align: center;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sale-item__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.sale-item__info {
  color: #fff;
  background-color: var(--main-blue);
  padding: 8px 20px;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 700;
}

.sale-item__price {
  text-align: right;
}

.price {
  position: relative;
  font-family: 'Barlow', sans-serif;
}

.sale-item__price-new {
  color: var(--main-blue);
  font-weight: 700;
  font-size: 27px;
  line-height: 1.185;
  padding-right: 20px;
  margin-right: 6px;
}

.sale-item__price-new::after {
  content: "";
  position: absolute;
  right: 1px;
  top: 7px;
  width: 15px;
  height: 18px;
  background-image: url('../images/icons-price.svg');
}

.sale-item__price-old {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #C4C4C4;
  margin-right: 15px;
  display: inline-block;
  padding: 2px 5px;
  background-image: url('../images/old-line.svg');
  background-repeat: no-repeat;
}

.sale-item__price-old::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 5px;
  width: 8px;
  height: 10px;
  background-image: url('../images/icons-price-old.svg');
}

.sale-item__img {
  object-fit: contain;
}

.sale-item__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 7px;
}

.sale-item__footer {
  background-color: var(--main-grey);
  padding: 25px 20px;
  font-size: 18px;
  line-height: 1.16666666667;
}

.sale-item__footer span {
  display: block;
  color: var(--main-blue);
  font-weight: 700;
  font-family: 'Barlow', sans-serif;
}

/* Tabs */

.search__tabs {
  margin-bottom: 25px;
}

.search__tabs-item {
  padding: 11px 26px 12px;
}

.search__tabs-item.tabs--active {
  border-radius: 5px;
  background-color: var(--main-grey);
  font-weight: 700;
}

.tabs-content {
  display: none;
  position: relative;
}

.tabs-content.tabs-content--active {
  display: block;
}

.search__content-form {
  display: flex;
}

.search__content-input {
  background-color: var(--main-grey);
  font-size: 16px;
  line-height: 19px;
  border-radius: 3px 0 0 3px;
  color: #656464;
  border: none;
  padding: 15px 20px;
  width: 100%;
}

.search__content-btn {
  background: var(--main-blue);
  border-radius: 3px;
  font-weight: 700;
  color: #fff;
  padding: 16px 41px;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  border: none;
  margin-left: -3px;
}

/* categories__inner */

.categories__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.categories__item {
  margin-bottom: 30px;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  width: 370px;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 16px;
  transition: all .3s;
}

.categories__item-info {
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.categories__item-title {
  font-family: 'Barlow', sans-serif;
  font-size: 23px;
  line-height: 28px;
  transition: all .3s;
  font-weight: 700;
}

.categories__item:hover {
  box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
}

.categories__item:hover .categoreies__item-title {
  color: var(--main-blue);
}

.categoreies__item-text {
  font-size: 14px;
  line-height: 17px;
  color: #C4C4C4;
  position: relative;
}

.categoreies__item-text::after {
  content: url('../images/link-arrow.svg');
  padding-left: 3px;
}

.categories__item-img {
  width: 50%;
  text-align: center;
}

.categories__item-img img {
  max-width: 100%;
}

/* Product */

.products {
  margin: 100px 0;
}

.products__tabs {
  margin-bottom: 25px;
}

.products__tab+.products__tab {
  margin-left: 50px;
}

.products__tab {
  padding-bottom: 12px;
}

.products .swiper-pagination {
  display: none;
}

.products__tab.tabs--active {
  border-bottom: 3px solid var(--main-blue);
}

.products-item__wrapper {
  display: inherit;
  position: relative;
  width: 271px;
  height: auto;
  transition: width .3s;
}

.products-item__wrapper.products-item__wrapper-list {
  width: 100%;
}

.products-item {
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  text-align: center;
  padding: 52px 20px 31px;
  border: 1px solid #CDCDCD;
  transition: all .3s;
  width: 100%;
}

.products-item__favorite {
  position: absolute;
  top: 16px;
  right: 19px;
  width: 24px;
  height: 22px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.products-item__favorite::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 22px;
  top: 0;
  left: 0;
  background-image: url('../images/favorite.svg');
}

.products-item__favorite--active::before {
  background-image: url('../images/favorite-active.svg');
}

.products-item__basket {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 10px 0 0 0;
  width: 60px;
  height: 40px;
  background-color: var(--main-blue);
  border: none;
  padding-top: 7px;
  cursor: pointer;
}

.products-item__title {
  font-weight: normal;
  padding: 14px 0 25px;
  font-size: 18px;
  line-height: 21px;
}

.products-item__price {
  font-weight: bold;
  font-size: 30px;
  line-height: 1.2;
}

.products-item__hover-text {
  padding: 18px 21px;
  background-color: rgba(255, 255, 255, .9);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: inline-block;
  position: absolute;
  top: 30%;
  opacity: 0;
  color: var(--text-color);
  transition: opacity .3s;
}

.products-item:hover .products-item__hover-text {
  opacity: 1;
  color: var(--text-color);
}

.products-item:hover {
  box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
  color: var(--main-blue);
}

.products-item--sale::before {
  content: "Sale";
  padding: 8px 15px;
  background-color: var(--main-blue);
  position: absolute;
  left: 0;
  top: 0;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
}

.products-item__notify-text {
  display: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color);
}

.products-item__notify-link {
  display: none;
}

.products-item__wrapper.products-item__not-avaliable .products-item__title {
  padding-bottom: 13px;
}

.products-item__wrapper.products-item__not-avaliable .products-item__notify-link {
  display: block;
  text-align: center;
  position: absolute;
  left: 40px;
  right: 40px;
  bottom: 20px;
  font-size: 16px;
  line-height: 19px;
  color: var(--main-blue);
  border-bottom: 1px solid var(--main-blue);
}

.products-item:hover .products-item__notify-text {
  color: var(--text-color);
}

.products-item__wrapper.products-item__not-avaliable .products-item__notify-text {
  display: block;
}

.products-item__wrapper.products-item__not-avaliable .products-item__price {
  display: none;
}

.products-item__wrapper.products-item__not-avaliable .products-item__basket {
  display: none;
}

.products__title {
  font-family: 'Barlow', sans-serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 25px;
}

.products .swiper-button-prev, .products .swiper-button-next {
  background-image: url('../images/arrow-black-right.svg');
}

.products {
  overflow: visible;
}

.products .swiper-button-prev {
  left: -40px;
}

.products .swiper-button-next {
  right: -40px;
}

.products__more {
  margin: 35px 0 80px;
  text-align: center;
}

.products__item-more {
  background-color: var(--main-grey);
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  padding: 17px 43px;
}

/* banner */

.banner {
  margin-bottom: 80px;
}

/* footer */

.footer {
  background-color: var(--main-grey);
}

.footer__top {
  padding-top: 43px;
  font-family: 'Roboto', sans-serif;
}

.footer__top-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.footer__top-inner {
  display: flex;
  justify-content: space-between;
}

.footer__top-newsletter.footer__top-item {
  width: 295px;
  margin-right: 50px;
}

.footer-form {
  margin-top: 34px;
  display: flex;
}

.footer-form__input {
  background-color: #fff;
  border: none;
  font-size: 14px;
  line-height: 17px;
  padding: 0 12px;
}

.footer-form__input::placeholder {
  color: #C4C4C4;
}

.footer-form__button {
  text-transform: uppercase;
  padding: 10px 16px;
  border: none;
  background-color: var(--main-blue);
  color: #fff;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.12em;
}

.footer-list {
  font-size: 14px;
  line-height: 22px;
}

.footer__top-item {
  width: 200px;
}

.footer__top-social.footer__top-item {
  width: 250px;
}

.social-list {
  display: flex;
  align-items: center;
  height: 100%;
}

.social-list__item {
  margin: 15px;
}

.footer-list__item {}

.footer__bottom {
  font-family: 'Roboto', sans-serif;
  padding: 46px 0 22px;
  display: flex;
  justify-content: center;
}

.footer__bottom-link {
  font-size: 10px;
  line-height: 12px;
  margin: 0 40px;
}

.breadcrumbs {
  margin-bottom: 40px;
}

.breadcrumbs__list-item {
  display: inline-block;
  padding-right: 16px;
  margin-right: 10px;
  position: relative;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
}

.breadcrumbs__list-item::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 4px;
  background-image: url('../images/link-arrow.svg');
  width: 6px;
  height: 9px;
}

.breadcrumbs__list-item:last-child::after {
  display: none;
}

.catalog {
  margin-bottom: 100px;
}

.aside-btn {
  display: none;
}

.catalog__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 26px;
}

.catalog__filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.catalog__filter-items__button {
  font-size: 14px;
  line-height: 17px;
  opacity: 0.7;
  border-radius: 3px;
  background-color: var(--main-grey);
  border: none;
  padding: 5px 22px;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform .2s;
}

.catalog__filter-items__button--active {
  opacity: 1;
  transition: transform .2s;
  transform: scale(1.1) translateZ(0);
}

.catalog__filter-items button+button {
  margin-left: 8px;
}

.catalog__filter-btn {
  display: flex;
  align-items: center;
}

.select-item {
  padding: 7px 10px 7px 10px;
  font-size: 14px;
  line-height: 17px;
  color: #2F3035;
  border: 1px solid #D7D9DF;
  margin-right: 35px;
  width: 176px;
}

.catalog__filter-btn button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.catalog__filter-btn button+button {
  margin-left: 10px;
}

.catalog__filter-button {
  width: 26px;
  height: 21px;
  opacity: .3;
  outline: none;
}

.catalog__filter-button--active {
  opacity: 1;
}

.catalog__inner {
  display: flex;
}

.catalog__inner-aside {
  min-width: 290px;
  margin-right: 10px;
}

.catalog__inner-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog__inner-list .products-item__wrapper {
  margin-bottom: 30px;
  height: auto;
}

.products-item__img {
  height: 200px;
  width: 200px;
}

.pagination {
  width: 100%;
}

.pagination-list {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.pagination-list__item {
  padding: 6px 12px;
  border: 2px solid transparent;
  margin: 0 4px;
  font-size: 18px;
  line-height: 22px;
  color: #C4C4C4;
}

.pagination-list__item.active, .pagination-list__item:hover {
  color: var(--main-blue);
  border: 2px solid var(--main-blue);
}

.pagination-list__item a {
  display: block;
}

.aside-filter__tabs {
  display: flex;
  justify-content: space-between;
}

.aside-filter__tab {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #C4C4C4;
  width: 50%;
}

.aside-filter__tab.tabs--active span {
  color: var(--text-color);
  display: inline-block;
  border-bottom: 2px solid var(--main-blue);
  padding-bottom: 7px;
}

.aside-filter__item-drop {
  margin: 40px 0;
}

.aside-filter__item-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  padding-left: 26px;
  position: relative;
}

.filter__item-drop {
  cursor: pointer;
}

.filter__item-drop::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 12px;
  height: 8px;
  background-image: url('../images/arrow-up.svg');
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(0deg);
  transition: all .2s;
}

.filter__item-drop--active::before {
  transform: rotate(180deg);
}

.aside-filter__content {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.aside-filter__content-box {
  width: 50%;
  margin-bottom: 10px;
}

.aside-filter__content-label {
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
}

.jq-checkbox, .jq-radio {
  background: #fff;
  width: 14px;
  height: 14px;
  border: 1px solid #C4C4C4;
  border-radius: 1px;
  box-shadow: none;
  vertical-align: -2px;
  margin: 0 8px 0 0;
}

.jq-checkbox.checked, .jq-radio.checked {
  background: var(--main-blue);
  border: none;
}

.jq-checkbox.checked .jq-checkbox__div {
  width: 8px;
  height: 6px;
  margin: 4px 0 0 3px;
  border-left: none;
  border-bottom: none;
  transform: rotate(0deg);
  background-image: url('../images/checked-icon.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.jq-radio.checked .jq-radio__div {
  width: 0;
  height: 0;
  margin: 0;
  background: transparent;
  box-shadow: none;
}

.aside-filter__content-radio {
  flex-wrap: nowrap;
}

.irs--flat {
  width: 100%;
  margin-top: -15px;
}

.irs--flat .irs-min, .irs--flat .irs-max {
  top: 60px;
  color: var(--text-color);
  font-family: 'Barlow', sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-decoration: underline;
  padding: 0px;
  border-radius: 0px;
  background-color: transparent;
  visibility: visible !important;
  padding-left: 22px;
}

.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
  display: none;
}

.irs-min::before, .irs-max::before {
  position: absolute;
  font-size: 14px;
  line-height: 17px;
  left: 0;
}

.irs-min::before {
  content: 'от';
  text-decoration: none;
}

.irs-max::before {
  content: 'от';
  text-decoration: none;
}

.irs--flat .irs-line {
  top: 25px;
  height: 1px;
  background-color: #e0e0e0;
  border-radius: 0px;
}

.irs--flat .irs-bar {
  top: 25px;
  height: 3px;
  background: var(--main-blue);
}

.irs--flat .irs-handle {
  top: 22px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--main-blue);
}

.irs--flat .irs-handle>i:first-child, .irs--flat .irs-handle.state_hover>i:first-child, .irs--flat .irs-handle:hover>i:first-child {
  background-color: var(--main-blue);
}

.aside-filter__item-list {
  margin: 60px 0 40px;
}

.filter__item-list {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #C4C4C4;
}

.filter__item-list__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  padding-bottom: 14px;
  padding-left: 25px;
}

.jq-selectbox__select {
  font-family: 'Barlow', sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #48494D;
  height: 20px;
  padding: 0 25px 0 10px;
  border: none;
  border: 0px;
  background: transparent;
  box-shadow: none;
  text-shadow: none;
  outline: none;
}

.jq-selectbox__trigger {
  background-image: url('../images/arrow-up.svg');
  transform: rotate(180deg);
  position: absolute;
  top: 6px;
  right: 9px;
  bottom: 5px;
  width: 12px;
  height: 8px;
  border-left: none;
}

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 14px;
  right: 12px;
  width: 0;
  height: 0;
  border: none;
}

.jq-selectbox__select:hover, .jq-selectbox__select:active {
  background: transparent;
  box-shadow: none;
}

.jq-selectbox.focused .jq-selectbox__select {
  border: none;
}

.jq-selectbox li {
  font-family: 'Barlow', sans-serif;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 17px;
}

.jq-selectbox li.selected {
  background: rgba(107, 126, 172, 0.05);
  color: rgba(0, 0, 0, 0.6);
}

.jq-selectbox li:hover {
  background: rgba(107, 126, 172, 0.05);
  color: rgba(0, 0, 0, 0.6);
}

.jq-selectbox__dropdown {
  width: 100%;
  border-radius: 0;
  padding-top: 15px;
}

.filter-more {
  width: 100%;
}

.filter-more__btn {
  padding: 0;
  font-size: 14px;
  line-height: 17px;
  color: #1C62CD;
  border: none;
  border-bottom: 1px solid var(--main-blue);
  background-color: transparent;
  cursor: pointer;
}

.filter-search {
  padding: 7px 20px;
  width: 100%;
  font-size: 12px;
  line-height: 14px;
  border: 1px solid #E0E0E0;
  margin-top: 10px;
  margin-bottom: 20px;
}

.filter-search::placeholder {
  color: #BDBEC2;
}

.btn-checked .aside-filter__content {
  flex-wrap: nowrap;
  justify-content: space-between;
}

.btn-checked .aside-filter__content-box {
  width: 63px;
}

.btn-checked .jq-checkbox {
  height: 25px;
  width: 63px;
  background: #F0F0F4;
  border: none;
  color: #C4C4C4;
}

.btn-checked .jq-checkbox.checked {
  background-color: var(--main-blue);
}

.btn-checked .jq-checkbox.checked~.btn-checked__text {
  color: #fff;
}

.btn-checked .aside-filter__content-label {
  display: inline-block;
  position: relative;
  background: #F0F0F4;
  height: 25px;
  width: 63px;
}

.btn-checked .jq-checkbox.checked .jq-checkbox__div {
  display: none;
}

.btn-checked .btn-checked__text {
  position: absolute;
  background: #F0F0F4;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.07em;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  background: transparent;
}

.aside-filter__item-btn {
  text-align: center;
}

.filter-btn__send {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #BDBEC2;
  padding: 15px 85px;
  border: none;
  cursor: pointer;
  cursor: pointer;
  margin-bottom: 15px;
}

.filter-btn__send.filter-btn__send--active {
  background-color: var(--main-blue);
  color: #fff;
}

.filter__extra {
  display: inline-block;
  font-size: 13px;
  line-height: 16px;
  position: relative;
  padding-right: 29px;
  color: var(--text-color);
  margin-bottom: 15px;
  cursor: pointer;
}

.filter__extra::after {
  content: "";
  position: absolute;
  top: 4px;
  right: 0;
  width: 12px;
  height: 8px;
  background-image: url("../images/arrow-up.svg");
  transform: rotate(180deg);
  transition: transform .2s;
}

.filter__extra-content {
  display: none;
}

.filter__item-drop--active.filter__extra::after {
  transform: rotate(0deg);
}

.filter-btn__reset {
  display: inline-block;
  font-size: 13px;
  line-height: 16px;
  color: #C4C4C4;
  border: none;
  background: transparent;
  padding-bottom: 1px;
  border-bottom: 1px solid #C4C4C4;
}

.product-card {
  margin-bottom: 80px;
}

.product-card__inner {
  display: flex;
  justify-content: space-between;
}

.product-card__img-box {
  width: 500px;
  padding-top: 64px;
  text-align: center;
  font-family: 'Barlow', sans-serif;
  position: relative;
}

.product-card__img-box::before {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.12em;
  padding: 13px 25px;
  border-radius: 3px;
}

.product-card__price-old {
  display: inline-block;
  font-size: 30px;
  line-height: 44px;
  opacity: .6;
  background-image: url("../images/old-line.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.product-card__price-new {
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 17px;
}

.product-card__link {
  font-size: 15px;
  line-height: 18px;
  color: var(--main-blue);
}

.product-card__content {
  width: 570px;
}

.product-card__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 10px;
}

.product-card__code {
  font-size: 15px;
  line-height: 18px;
  opacity: .6;
  margin-bottom: 22px;
}

.product-card__buttons {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.product-card__buttons a+a {
  margin-left: 30px;
}

.product-card__tab {
  font-size: 20px;
  line-height: 24px;
  opacity: .6;
  padding-bottom: 5px;
  padding-right: 17px;
  margin-bottom: 5px;
}

.product-card__tab+.product-card__tab {
  padding-left: 17px;
}

.product-card__tab.tabs--active {
  font-weight: bold;
  border-bottom: 2px solid var(--main-blue);
  opacity: 1;
}

.product-card__item {
  display: flex;
  justify-content: space-between;
  padding: 15px 0 6px;
  font-size: 20px;
  line-height: 24px;
  border-bottom: 1px solid rgba(47, 48, 53, .1);
}

.product-card__item-left {
  padding-right: 15px;
}

.product-card__item-right {
  width: 125px;
}

.product-card__more {
  display: inline-block;
  font-size: 14px;
  line-height: 17px;
  color: var(--main-blue);
  margin: 20px 0 40px;
  border-bottom: 1px solid var(--main-blue);
}

.product-card__btn button {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  padding: 16px 53px;
  border: none;
  background: var(--main-blue);
  color: #fff;
  cursor: pointer;
}

.product-card__btn--mobile {
  display: none;
}

.card__tab-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 22px 0;
  background: #F0F0F4;
  margin-bottom: 50px;
}

.card__tab {
  font-size: 20px;
  line-height: 24px;
  color: var(--text-color);
  opacity: .6;
}

.card__tab.tabs--active {
  border-bottom: 2px solid var(--main-blue);
  opacity: 1;
}

.card__top-line {
  margin-bottom: 10px;
}

.card__label-search {
  font-size: 17px;
  line-height: 20px;
  color: rgba(47, 48, 53, .7);
}

.card__input-search {
  background: #f0f0f0;
  border-radius: 3px;
  margin-left: 17px;
  padding: 9px 37px 9px 17px;
  border: none;
  margin-right: 100px;
}

.card__label-pickup {
  display: inline-block;
  margin-left: 54px;
  font-size: 17px;
  line-height: 20px;
  color: rgba(47, 48, 53, .7);
}

.card__list-item {
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid rgba(47, 48, 53, .1);
  font-size: 16px;
  line-height: 22px;
  color: rgba(47, 48, 53, .7);
}

.card__list-itemtitle {
  color: var(--text-color);
  font-size: 20px;
  line-height: 24px;
}

.card__list-address {
  width: 220px;
  margin-right: 80px;
}

.card__list-workhours {
  width: 157px;
  margin-right: 96px;
}

.workhours {
  display: flex;
  justify-content: space-between;
}

.card__list-avaliable {
  width: 140px;
  margin-right: 60px;
}

.card__list-num {
  width: 104px;
}

.card__list-btn {
  margin-left: auto;
}

.card__list-btn button {
  background-color: var(--main-blue);
  color: #fff;
  padding: 9px 40px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.12em;
  border: none;
  border-radius: 3px;
}

.footer__section-title {
  pointer-events: none;
}

/* CONTACT FORM 7 (START) */

.banner-section__item {}

/* Редактируем сообщение об ошибке */

.wpcf7-not-valid-tip {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #dc3232;
  /* Red */
  display: block;
}

.use-floating-validation-tip .wpcf7-not-valid-tip {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  border: 1px solid #dc3232;
  background: #fff;
  padding: 0 0 0 0;
  width: 220px;
}

/* Скрываем нижний блок с собщением об ошибке */

.wpcf7-response-output {
  display: none;
}

/* Блок */

.wpcf7 {
  background: #F0F0F5;
  width: 265px;
  height: 400px;
  border: 1px solid #1C62CD;
  border-radius: 7px;
  align-items: center;
  text-align: center;
}

.wpcf7__text-title-div {
  margin-top: 27px;
}

.wpcf7__text-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 18px;
}

.wpcf7__text-div {
  margin-top: 22px;
}

.wpcf7__text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 12px;
}

.wpcf7__input-div {
  font-family: 'Roboto', sans-serif;
  line-height: 16px;
}

.wpcf7 input[type="text"] {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  width: 220px;
  height: 30px;
  border: 1px solid rgba(196, 196, 196, 1);
  border-radius: 2px;
  margin-top: 20px;
}

/* убираем обводку внутри формы */

input[type="text"]:active, input[type="text"]:hover, input[type="text"]:focus {
  outline: 0;
  outline-offset: 0;
}

.wpcf7 input[type="tel"] {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  width: 220px;
  height: 30px;
  border: 1px solid rgba(196, 196, 196, 1);
  border-radius: 2px;
  margin-top: 14px;
}

input[type="tel"]:active, input[type="tel"]:hover, input[type="tel"]:focus {
  outline: 0;
  outline-offset: 0;
}

.wpcf7 textarea {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  width: 220px;
  height: 60px;
  border: 1px solid rgba(196, 196, 196, 1);
  border-radius: 2px;
  resize: none;
  margin-top: 14px;
}

textarea:active, textarea:hover, textarea:focus {
  outline: 0;
  outline-offset: 0;
}

.wpcf7__submit-div {}

.wpcf7 input[type="submit"] {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  margin-left: 0px;
  background-color: rgba(28, 98, 205, 1);
  color: rgba(255, 255, 255, 1);
  width: 220px;
  height: 40px;
  border-radius: 20px;
  margin-top: 30px;
  text-align: center;
  padding: 0px 0px 0px 0px;
}

.wpcf7__politika-div {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 7px;
  text-align: center;
}

.wpcf7__politika {}

/* CONTACT FORM 7 (END) */